<h1>Hello!</h1>

<div class ="great">
  <p id="message"> <%= @your_message %> </p>
  <p>- You</p>
  <p id="answer"> <%= @answer %> </p>
  <p>- Your coach</p>
</div>

<div class="goback">
  <%= link_to "Ask a new question", '/ask' %>
</div>


<!--     elsif your_message.end_with?('?')
      'Silly question, get dressed and go to work!'
    else
      "I don't care, get dressed and go to work!"
    end
%>
 -->
