// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-family : arial;
  letter-spacing: -1px;
  font-weight: bold;
  color: #787c86;

}

a{
  font-family : arial;
  font-weight: light;
  font-size: 16px;
  color: #0a46dc;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

#answer{
  border-left: 16px;
  border-left-color: #EDEDED;
  background-color: #EDEFED;
  color : black;
}

.great{
  width: 350px;
  height: 150px
}
